#required: required
NAPOLEON_DB_BACKEND=sqlite
#blank-if: NAPOLEON_DB_BACKEND=sqlite NAPOLEON_DB_HOST NAPOLEON_DB_PORT NAPOLEON_DB_NAME NAPOLEON_DB_USER NAPOLEON_DB_PW NAPOLEON_DB_PREFIX
#mount-if: NAPOLEON_DB_BACKEND=sqlite STATE
#required: required
NAPOLEON_DB_HOST=127.0.0.1
#required: required
NAPOLEON_DB_PORT=5432
#required: required
NAPOLEON_DB_NAME=napoleon
#required: required
NAPOLEON_DB_USER=napoleon
#required: required
NAPOLEON_DB_PW=
#required: required
NAPOLEON_DB_PREFIX=napoleon

#required: required
OPENAI_V1_URL=
#required: required
OPENAI_V1_PORT=
#required: required
OPENAI_V1_KEY=
