[Unit]
Description=Napoleon Mastermind
After=network.target tailscale-up.service
Wants=tailscale-up.service

[Service]
Type=simple
WorkingDirectory=/opt/safrano9999/NAPOLEON_HILLS_AI_MASTERMIND_CLASSES
PassEnvironment=FASTAPI_HOST NAPOLEON_PORT LITELLM_URL LITELLM_PORT LITELLM_API_KEY NAPOLEON_LITELLM_DEFAULT_LLM
Environment=NAPOLEON_PORT=11004
ExecStart=uvicorn webui:app --host 0.0.0.0 --port ${NAPOLEON_PORT}
Restart=on-failure

[Install]
WantedBy=multi-user.target
